@model IEnumerable<OgrenciViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Öğrenci Listesi</h1>
@*<style>
    a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: red;
    }
</style>*@
<p>
    <a asp-action="Create">Yeni Öğrenci Kaydet</a>
    @*<a href="https://localhost:7042/Ogrenciler/Create" target="_create">This is a link</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <h5>Toplam öğrenci sayısı: @ViewBag.OgrenciSayisi</h5>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OkulNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BolumAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DersSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dersleri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OkulNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BolumAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DersSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dersleri)
                </td>

                <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
